<header class="toolbar container">
    <!-- <mat-toolbar > -->
        <div>
            <span class="logo"><a routerLink="/home" ><i class="fas fa-sms fa-4x" ></i></a></span>
            <span class="spacer"></span>
            <span class="topnav">
                <a routerLink="/home">Home </a>
                <a routerLink="/rooms">Service </a>
                <a routerLink="/">Contact Us </a>
            <a *ngIf="!loggedIn" routerLink="/">Login</a>
            <a *ngIf="!loggedIn" routerLink="/register">Signin</a>
            <a *ngIf="loggedIn">Hello {{currentUser.username}}</a>
            <a *ngIf="loggedIn" (click) = "logOut()" >Log out <i class="fa fa-sign-out fa-x" aria-hidden="true"></i></a>
            </span>
        </div>
    <!-- </mat-toolbar> -->
</header>

