<div class="wrapper">
  <div class="toolbar container-fluid">
    <div fxFlex="40" class=flex-spacer></div>
    <div fxFlex="30" class="maintabs">
      <a routerLink="/home" class="icons"><i  class="fas fa-home fa-x"></i></a>
      <a routerLink="/rooms" class="icons"><i  class="fas fa-comments fa-x"></i></a>
      <a routerLink="/" class="icons"><i class="fas fa-phone-alt fa-x" ></i></a>
      
    </div>
    <div fxFlex="30" class="me">
      <p>Made By:<br></p>
        <a href="https://www.github.com/sezalmittal987">Sezal Mittal</a><br>
    </div>
  </div>
</div>

  