<div class="container" fxLayout="row">
    <div fxFlex="30" fxLayout="column" class="leftdiv" >
        <section fxLayout="row" fxLayoutAlign="center center">
            <button  fxFlex="50" mat-raised-button (click)="toggleUsers()" [ngClass]="{'underline' : cusers}" >Current Users</button>
            <button fxFlex="50" mat-raised-button (click)="toggleUsers()"  [ngClass]="{'underline' : !cusers}">All Users</button>
        </section>
        <div style="overflow: scroll; height: 95%; "  #scrollMe [scrollTop]="scrollMe.scrollHeight" >
            <div *ngIf="cusers" ><div *ngFor="let user of currentUsers">{{user.username}}</div></div>
            <div *ngIf="!cusers" ><div *ngFor="let user of allUsers">{{user.username}}</div></div>
        </div>
    </div>
    <div #chatbox fxFlex="70" fxLayout="column" class="rightdiv">
        <section fxLayoutAlign="center center" style="font-size : 25px;"><b>{{currentRoom.roomname}}</b></section>
        <div class = "chat" style="overflow: scroll; height: 95%; bottom:0 ;margin-bottom:50px;"  #scrollMe [scrollTop]="scrollMe.scrollHeight" fxLayout="column">
            <div *ngFor = "let message of messages">
                <div style="border-style: groove; margin : 2px" fxLayout="column">
                    <div style="background-color : rgb(218, 203, 203);font-size : 9px;font-style: oblique;">{{message.timestamp}}</div>
                    <div>
                    {{message.text}}
                    </div>
            </div> 
        </div>
        <section class="text" fxFlex="90" fxLayout="row">
            <i class="far fa-keyboard fa-2x"></i>
            <input  style="margin:5px" size = "{{(95/1000)*chatbox.offsetWidth}}" [(ngModel)] = "newMessage" (keyup)="$event.keyCode == 13 && sendMessage()"/><button (click)="sendMessage()">Send Message</button>
        </section>
    </div>
</div>
